
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  font-size: 138%;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  color: white;
  background-color: #000;
  font-family: Garamond, sans-serif;
  -moz-user-select: none;
  transition: background-color 0.2s ease;
}
body.glow {
  background-color: #33f;
}
body:not(.glow) {
  transition-duration: 0.1s;
}

#wrapper {
  padding: 1rem 2rem 4rem;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}
#wrapper > header {
  position: absolute;
  bottom: 0; left: 0; right: 0;
  background: #222;
  padding: 0.2rem 1rem;
}
#wrapper > header h1 {
  margin: 0;
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
}
#wrapper > footer {
  position: absolute;
  bottom: 0; right: 0;
  text-align: right;
  background: #222;
  padding: 0.2rem 1rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
}
.col {
  width: 33%;
  display: flex;
  display: -webkit-flex;
  align-self: flex-start;
  -webkit-align-self: -webkit-flex-start;
}
.col:nth-child(2) {
  /* hide the center column */
  display:none;
}
.col > p,
.col > div {
  flex: 1 1 0;
  -webkit-flex: 1 1 0;
  font-size: 1rem;
}
.col p {
}
.col h2 {
  font-size: 2rem;
}
.col > .narrow {
  flex: 0.3 1 0;
  -webkit-flex: 0.3 1 0;
  width: 5rem;
}
.row {
  flex: 1 1 0;
  -webkit-flex: 1 1 0;
  display: flex;
  display: -webkit-flex;
}
.row {
  margin: 1rem 0;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
#row_2.row {
  flex-grow: 10;
  -webkit-flex-grow: 10;
}
#row_3.row {
  flex: 1 1 0;
  -webkit-flex: 1 1 6rem;
  height: 30rem;
}
.row > .col {
  flex-grow: 1;
  -webkit-flex-grow: 1;
}
h2 {
  margin: 0.5rem 0 0.8rem;
}
p {
  margin: 0.5rem 0 0.8rem;
}

.loading {
  opacity: 0.2;
}

.forecast > .content {
  flex: 1 1 0;
  -webkit-flex: 1 1 0;
}
.forecast > .icon {
  width: 5rem;
  background-repeat: no-repeat;
  background-position: 0.5rem 0.5rem;
}
.forecast > p,
.forecast > h2 {
  text-align: left;
}
.clock {
  display: flex;
  display: -webkit-flex;
}
.clock > .date {
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
}
.clock > .time {
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  padding: 0 1rem;
}
.ipaddress > h2 {
  font-size: 1rem;
  font-weight: normal;
  font-style: italic;
}
